.login{
    width: 450px;
    height: 300px;
    color: #193F51;
    margin: 50px auto 8px;
    border-bottom: 1px solid #DDD;
    padding-bottom: 30px;
    
}
.panel-heading{
    font-size: 18px;
    margin: 0 auto;
}
.form-control{
    width:350px;
    margin:0 auto;
}
.remember-code{
   float:left;
   width:200px;
  /* margin:0 60px;*/
}
.remember-login{
   float:right;
   width:200px;
}
.signin{
     width:350px;
    margin:0 auto;
}
.user-lack{
  display:none;
  float:right;   
 font-size: 16px;color:red;
    /*padding:auto 0 0 110px;*/
  }
  /*关于登陆检测的用户和密码*/
    .user{
  display:none;  
 font-size: 16px;color:red;
    /*padding:auto 0 0 110px;*/
  }
  .pass{
  display:none; 
 font-size: 16px;color:red;
    /*padding:auto 0 0 110px;*/
  }
  .pass-lack{
    display:none;
  float:right;   
 font-size: 16px;color:red;
  }
  .pass-error{
   display:none;
  float:right;   
 font-size: 16px;color:red;
  }
  .user-error{
     display:none;
     float:right;   
     font-size: 16px;
      color:red;
  }